:root {
    --main-bg-color: #1a1a1a;
    --sidebar-bg-color: #2c2c2c;
    --card-bg-color: #3a3a3a;
    --border-color: #515151;
    --primary-text-color: #ffffff;
    --secondary-text-color: #a0a0a0;
    --accent-color: #6a0dad;
    --sidebar-hover : #454545;
    --green-accent: #4caf50;
    --red-accent: #f44336;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-bg-color);
    color: var(--primary-text-color);
    margin: 0;
}
/* 
header {
    border: 2px solid var(--border-color);
} */

.main {
    display: grid;
    grid-template-columns: 250px 1fr;
    height: 100vh;
}

.sidebar {
    background-color: var(--sidebar-bg-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-right: 2px solid var(--border-color);
}

.sidebar-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.sidebar-menu, .sidebar-settings {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.dash-menu {
    color: var(--primary-text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.dash-menu:hover {
    background-color: var(--sidebar-hover);
}

.mainArea {
    padding: 20px;
    overflow-y: auto;
}

.mainArea header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.welcome {
    font-size: 1.5rem;
}

.action-header {
    display: flex;
    gap: 10px;
}
.action-header .header-btn {
    background-color: var(--accent-color);
    color: var(--primary-text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 10px;
}

.action-header .header-btn:hover {
    background-color: #5a0bad;
}

.stats {
    margin-bottom: 20px;
}

.stats-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background-color: #2c2c2c;
    border: 2px solid #3a3a3a;
    padding: 20px;
    border-radius: 20px;
}

.top-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.card-title {
    font-size: 1rem;
    color: var(--secondary-text-color);
}

.card-logo {
    font-size: 1.5rem;
}

.card-logo svg {
    stroke: var(--secondary-text-color);
    width: 32px;
    height: 32px;
}

.card-num {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-stats {
    font-size: 0.9rem;
    color: var(--green-accent);
}

.graph-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    column-gap: 20px;
}
