* {
    /* border: 1px solid red; */
    /* color: white; */
}

body {
    display: flex;
    justify-content: center;
    /* gap: 10vw; */
    background-color: #211C84;
    margin-top: 2vw;
    /* border: 10px solid white; */
}

.image-sidebar{
    border: 1px solid black;
    border-radius: 20px;
    /* margin-left: 10px; */
    box-shadow: 0 4px 10px rgb(0, 0, 0, 0.3);
    position: relative;
    margin: auto;
    transition: 0.2s ease;
    background-color: #0118d8;
}

.image-sidebar:hover{
    transform: translateY(-2px);
}

/* .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
} */

.luffyimg{
    width: 23vw;
    border-radius: 20px;
    display: block;
}

.overlay-text{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: x-large;
    font-family: "Boldonse", sans-serif;
    font-weight: 400;
    font-style: normal;
    z-index: 2;
}

.form, .form-title, form {
    color: #B5A8D5;
}

.container{
    display: flex;
    flex-direction: column;
    margin-right: 5vw;
    background-color: #1a1662;
    border-radius: 20px;
    padding: 2vw;
    box-shadow: 0 4px 10px rgb(0, 0, 0, 0.3);
}

.form {
    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1vw;
    font-family: 'Lexend', sans-serif;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    /* padding-top: 2vw; */
    height: 100%;
}

.form-title{
    font-size: xx-large;
    font-family:'Courier New', Courier, monospace;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.form-group{
    display: flex;
    flex-direction: column;
    font-size: 1vw;
}



